<div class="row">
  <div class="col-12">
    <app-navbar></app-navbar>
    <!-- <app-matmenu></app-matmenu> -->
  </div>
</div>
<div class="row border-bottom">
    <div class="col-12">
      <div class="text-center">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
  </div>
</div>
<div *ngIf="IsUserLoggedIn() || router.url === '/login'; then auth else unauth"></div>

<app-footer></app-footer>
<ng-template #auth>
  <h2><router-outlet></router-outlet></h2>
</ng-template>
<ng-template #unauth>
  <h4>Unauthorized access!. You're not authorized to view this page. Please <a routerLink="/login">login</a> first. </h4>
</ng-template>